<!DOCTYPE html>
<html>
<%- include ../base/checkHead.ejs %>
<link rel="stylesheet" type="text/css" href="/css/mui.picker.min.css">
<script type='text/javascript' src='/js/mui.picker.min.js'></script>
<script type='text/javascript' src='/js/mui.previewimage.js'></script>
<script type='text/javascript' src='/js/mui.zoom.js'></script>
<body>
<div class="container">
    <%- include ../base/header.ejs %>
    <a class="header-right" href="">确定</a>
    <div class="wrap">
        <div class="upload-content">
            <div class="upload">
                <form action="http://114.215.98.96:8011/ZxApi/uploadfile.aspx" enctype="multipart/form-data"
                      method="post" id="uploadForm">
                    <input type="file" name="file" id="upload"/>
                    上传/替换
                </form>
            </div>
        </div>
        <div class="input-row">
            <label>照片:</label>
            <img src="images/default.png" class="member-pic" id="img" data-preview-src="" />
        </div>
        <div class="input-row">
            <label>选择分组:</label>
            <select id="groups">
            </select>
        </div>
        <div class="input-row">
            <label>姓名:</label>
            <input type="text"/>
        </div>
        <div class="input-row">
            <label>姓别：</label>
            <div class="mui-input-row mui-radio mui-left">
                <label class="radio-lable">男</label>
                <input name="sex" type="radio" value="男">
            </div>
            <div class="mui-input-row mui-radio mui-left">
                <label class="radio-lable">女</label>
                <input name="sex" type="radio" value="女">
            </div>
        </div>
        <div class="input-row">
            <label>出生日期:</label>
            <button id='date' class="date" data-options='{"type":"date"}'></button>
        </div>
        <div class="input-row">
            <label>联系电话:</label>
            <input type="text"/>
        </div>
        <div class="input-row">
            <label>民族:</label>
            <input type="text"/>
        </div>
        <div class="input-row">
            <label>籍贯:</label>
            <input type="text"/>
        </div>
        <div class="input-row">
            <label>党派:</label>
            <input type="text"/>
        </div>
        <div class="input-row">
            <label>手机:</label>
            <input type="text"/>
        </div>
        <div class="input-row">
            <label>地址:</label>
            <input type="text"/>
        </div>
        <div class="input-row">
            <label>邮箱:</label>
            <input type="text"/>
        </div>
        <div class="input-row">
            <label>学历:</label>
            <input type="text"/>
        </div>
        <div class="input-row">
            <label>毕业院校:</label>
            <input type="text"/>
        </div>
        <div class="input-row">
            <label>职称:</label>
            <input type="text"/>
        </div>
        <div class="input-row">
            <label>界别:</label>
            <input type="text"/>
        </div>
        <div class="input-row">
            <label>设置初始密码:</label>
            <input type="text"/>
        </div>
    </div>
</div>
</body>
<style>
    .container{
        padding: 42px 0 0 0;
    }
    .header-right {
        position: absolute;
        z-index: 10000000;
        height: 42px;
        text-align: center;
        line-height: 42px;
        top: 0;
        right: 0;
        padding: 0 15px 0 10px;
        color: #fff;
        font-size: 14px;
    }
    .wrap {
        padding: 10px 20px 10px 10px;
        position: relative;
    }
    .upload-content{
        position: absolute;
        left: 230px;
        top:90px;

    }
    .member-pic {
        display: inline-block;
        width: 80px;
        height: 110px;
        margin: 0 10px 0 30px;
        vertical-align: bottom;
    }
    .upload {
        position: relative;
        display: inline-block;
        background: #0071bd;
        border-radius: 3px;
        padding: 5px 8px;
        color: #fff;
        font-size: 14px;
    }
    .upload input {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
    }
    .mui-radio input[type=radio]:before {
        font-size: 20px !important;
        line-height: 1;
        text-decoration: none;
        color: #aaa;
    }
    .input-row{
        display: flex;
        margin-bottom: 10px;
    }
    .input-row input[type=text],select {
        height: 32px !important;
        width: auto !important;
        text-indent: 10px;
        display: inline-block;
        border: 1px solid #adaaaa !important;
        outline: none;
        padding: 0;
        background: none;
        margin: 0;
        font-size: 14px;
        flex: 1;
        color: #3b3b3b;
    }
    .input-row label{
        color: #0071bd;
        min-width: 70px;
        display: inline-block;
        margin-right: 5px;
        white-space: nowrap;
        font-size: 14px;
    }
    label.radio-lable{
        color: #3b3b3b !important;
        padding:7px 0 5px 45px !important;
    }
    .input-row .date{
        width: 100%;
        height: 32px;
        border: 1px solid #adaaaa;
        text-align: left;
        color: #3b3b3b;
    }
    .mui-preview-image.mui-fullscreen {
        position: fixed;
        z-index: 20;
        background-color: #000;
    }
    .mui-preview-header,
    .mui-preview-footer {
        position: absolute;
        width: 100%;
        left: 0;
        z-index: 10;
    }
    .mui-preview-header {
        height: 44px;
        top: 0;
    }
    .mui-preview-footer {
        height: 50px;
        bottom: 0px;
    }
    .mui-preview-header .mui-preview-indicator {
        display: block;
        line-height: 25px;
        color: #fff;
        text-align: center;
        margin: 15px auto 4;
        width: 70px;
        background-color: rgba(0, 0, 0, 0.4);
        border-radius: 12px;
        font-size: 16px;
    }
    .mui-preview-image {
        display: none;
        -webkit-animation-duration: 0.5s;
        animation-duration: 0.5s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }
    .mui-preview-image.mui-preview-in {
        -webkit-animation-name: fadeIn;
        animation-name: fadeIn;
    }
    .mui-preview-image.mui-preview-out {
        background: none;
        -webkit-animation-name: fadeOut;
        animation-name: fadeOut;
    }
    .mui-preview-image.mui-preview-out .mui-preview-header,
    .mui-preview-image.mui-preview-out .mui-preview-footer {
        display: none;
    }
    .mui-zoom-scroller {
        position: absolute;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        -webkit-backface-visibility: hidden;
    }
    .mui-zoom {
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }
    .mui-slider .mui-slider-group .mui-slider-item img {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
    }
    .mui-android-4-1 .mui-slider .mui-slider-group .mui-slider-item img {
        width: 100%;
    }
    .mui-android-4-1 .mui-slider.mui-preview-image .mui-slider-group .mui-slider-item {
        display: inline-table;
    }
    .mui-android-4-1 .mui-slider.mui-preview-image .mui-zoom-scroller img {
        display: table-cell;
        vertical-align: middle;
    }
    .mui-preview-loading {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: none;
    }
    .mui-preview-loading.mui-active {
        display: block;
    }
    .mui-preview-loading .mui-spinner-white {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -25px;
        margin-top: -25px;
        height: 50px;
        width: 50px;
    }
    .mui-preview-image img.mui-transitioning {
        -webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
        transition: transform 0.5s ease, opacity 0.5s ease;
    }
    @-webkit-keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @-webkit-keyframes fadeOut {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
    @keyframes fadeOut {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
    p img {
        max-width: 100%;
        height: auto;
    }
</style>
<script>
    mui.previewImage();
    (function($) {
        $.init();
        var date = $('#date')[0];
        date.addEventListener('tap', function() {
            var optionsJson = this.getAttribute('data-options') || '{}';
            var options = JSON.parse(optionsJson);
            var picker = new $.DtPicker(options);
            picker.show(function(rs) {
                date.innerText = rs.y.text+'/'+rs.m.text+'/'+rs.d.text;
                picker.dispose();
            });
        }, false);
    })(mui);
    $(function() {
        $("#groups").html("");
        $.ajax({  //取分组
            url: 'http://114.215.98.96:8011/ZxApi/m2_10.ashx',
            type: "POST",
            dataType: 'json',
            data: {},
            error: function (request) {      // 设置表单提交出错
                mui.toast("系统错误");
            },
            success: function (data) {
                if(data.ecode== 1000){
                    var list=data.group_list;
                    $.each(list,function (i) {
                        var option='<option value="'+list[i].groupname+'">'+list[i].groupname+'</option>'
                        $("#groups").append(option);
                    })
                }
            }
        });
    })
    $('#uploadForm').ajaxForm(function(data) {
        data= JSON.parse(data);
        if(data.ecode==1000){
            $('#img').attr("src",data.imgurl_list[0].imgurl);
        }else{
            alert("上传失败！");
        }
    });
    $("#upload").change(function () {
        $('#uploadForm').submit();
    });
</script>
<style>
</style>
</html>