<!DOCTYPE html>
<html>
<%- include ../base/checkHead.ejs %>
<body>
<div class="container">
    <%- include ../base/header.ejs %>
    <span class="header-right" id="changeName">确定</span>
    <div class="wrap">
        <input type="text" placeholder="编辑组名" id="groupname"/>
    </div>
</div>
</body>
<style>
    .header-right {
        position: absolute;
        z-index: 10000000;
        height: 42px;
        text-align: center;
        line-height: 42px;
        top: 0;
        right: 0;
        padding: 0 15px 0 10px;
        color: #fff;
        font-size: 14px;
    }

    .wrap {
        padding: 5px 10px;
    }

    input {
        height: 32px !important;
        text-indent: 10px;
        display: inline-block;
        width: 100%;
        border: 1px solid #00a0e9 !important;
        outline: none;
        padding: 0;
        background: none;
        margin: 0;
        font-size: 14px;
    }
</style>
<script>
    var groupid="<%= groupid %>";

    $("#changeName").click(function () {
        var groupname = $("#groupname").val();
        if (groupname == '') {
            mui.toast("名称不可以为空！");
            return;
        }
        var params
        if(groupid==00){  //增加组
            params = {
                groupname: groupname
            }
            params = JSON.stringify(params);
            $.ajax({
                url: 'http://114.215.98.96:8011/ZxApi/m2_08.ashx',
                type: "POST",
                dataType: 'json',
                data: params,
                success: function (data) {
                    if (data.ecode == 1000) {
                        mui.toast("增加成功！");
                        setTimeout(function () {
                            self.location = document.referrer;
                        },1000);
                    } else {
                        mui.toast("增加失败！");
                    }
                }
            });


        }else {
            //编辑组
            params = {
                groupname: groupname, groupid: "<%= groupid %>"
            }
            params = JSON.stringify(params);
            $.ajax({
                url: 'http://114.215.98.96:8011/ZxApi/m2_09.ashx',
                type: "POST",
                dataType: 'json',
                data: params,
                success: function (data) {
                    if (data.ecode == 1000) {
                        self.location = document.referrer;
                    } else {
                        mui.toast("修改失败！");
                    }
                }
            });
        }
    })

</script>
<style>


</style>
</html>
