<!DOCTYPE html>
<html>
<%-include ../base/checkHead.ejs%>
<body>
<div class="container">
    <%-include ../base/header-search.ejs%>
    <%-include ../base/footer-nav.ejs%>
    <div class="wrap">
        lishuhhjkhu

    </div>
</div>
</body>
<style lang="stylus">
    .wrap
        color

</style>

</html>
