<!DOCTYPE html>
<html>
<%-include ../base/checkHead.ejs%>
<style lang="stylus">
    .container{
        -webkit-animation-name: slideOut;
        animation-name: slideOut;
    }
    .pic-content{
        padding: 6px 0 2px 0;
        background: #f5f5f5;
    }
    .pic-content img{
        width: 100%;
    }
    .member-row{
        display: flex;
        align-items: center;
        padding: 10px 0 5px 0;
    }
    .member-item{
        flex: 1;
        text-align: center;
    }
    .member-item img{
        width: 50%;
    }
    .member-item p{
        color: #3b3b3b;
        font-size: 15px;
    }
</style>
<body>
<div class="container">
    <%-include ../base/header-search.ejs%>
    <%-include ../base/footer-nav.ejs%>
    <div class="wrap">
        <div class="pic-content">
            <img src="images/member-banner.png">
        </div>
        <div class="member-content">
            <div class="member-row">
                <div class="member-item" data-url="/membersMd">
                    <img src="/images/member1.png">
                    <p>委员名单</p>
                </div>
                <div class="member-item" data-url="/proposals">
                    <img src="/images/member2.png">
                    <p>政协提案</p>
                </div>
                <div class="member-item" data-url="/social">
                    <img src="/images/member3.png">
                    <p>社情民意</p>
                </div>
            </div>
            <div class="member-row">
                <div class="member-item" data-url="/mien">
                    <img src="/images/member4.png">
                    <p>委员风采</p>
                </div>
                <div class="member-item" data-url="study">
                    <img src="/images/member5.png">
                    <p>学习园地</p>
                </div>
                <div class="member-item" data-url="/video">
                    <img src="/images/member6.png">
                    <p>视频点播</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    $(document).on('click','.member-item',function () {
        sessionStorage.setItem("studyList", "");
        sessionStorage.setItem("studyTop", 0);
        sessionStorage.setItem("mienList", "");
        sessionStorage.setItem("mienTop", 0);
        sessionStorage.setItem("videoList", "");
        sessionStorage.setItem("videoTop", 0);
        var url=$(this).attr("data-url")
        location.href=url
    })
</script>
</html>
