<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="product" content="SandGlass">
    <meta name="description" content="">
    <meta name="author" content="lishu">
    <title>error</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
</head>
<body>
<div class="container">
    <style>
        .content{
            position: absolute;
            width: 100%;
            text-align: center;
            top:50%;
            margin-top:-40%
        }
        .content img{
            width: 30%;
        }
        .content p{
            font-size: 16px;
            line-height: 28px;
        }
    </style>
    <div class="wrap">
        <div class="content">
            <img src="images/timeout.png">
            <p>页面出错</p>
            <p>请稍后重试</p>
        </div>
    </div>
</div>
</body>
</html>
