<!DOCTYPE html>
<html>
<script>
    var manager_id=localStorage.getItem('manager_id')
    if(manager_id != null && manager_id != ""){
        location.href="/news"
    }else{
        try{
            var manager_id=window.native.getData('manager_id')
            var user_id=window.native.getData('user_id')
            var role_type=window.native.getData('role_type')
            var user=window.native.getData('user')
            var fontSizeType=window.native.getData('fontSizeType')
            if(manager_id != null && manager_id != ""){
                localStorage.setItem('manager_id', manager_id);
                localStorage.setItem('user_id', user_id);
                localStorage.setItem('role_type', role_type);
                localStorage.setItem('user', user);
                localStorage.setItem('fontSizeType', fontSizeType);
                location.href="/news"
            }else{
                location.href="/login"
            }
        }catch (err){
            location.href="/login"
        }
    }
</script>
<body>
</body>
</html>
