<!DOCTYPE html>
<html>
<script>
    var sSId=sessionStorage.getItem('user_id')
    if(sSId != null && sSId != ""){
        location.href="/news"
    }else{
        try{
            var nId=window.native.getData('user_id')
            var role=window.native.getData('role_type')
            var user=window.native.getData('user')
            if(nId != null && nId != ""){
                sessionStorage.setItem('user_id', nId);
                sessionStorage.setItem('role_type', role);
                sessionStorage.setItem('user', user);
                location.href="/news"
            }else{
                location.href="/login"
            }
        }catch (err){
            location.href="/login"
        }
    }
</script>
<body>
</body>
</html>
