<!DOCTYPE html>
<html>
<script>
    var sSId=sessionStorage.getItem('user_id')
    if(sSId != null && sSId != ""){
        location.href="/news"
    }else{
        try{
            var nId=window.native.getData('user_id')
            var role=window.native.getData('role_type')
            var user=window.native.getData('user')
            if(nId != null && nId != ""){
                sessionStorage.setItem('user_id', nId);
                sessionStorage.setItem('role_type', role);
                sessionStorage.setItem('user', user);
                location.href="/news"
            }else{
                location.href="/login"
            }
        }catch (err){
            location.href="/login"
        }
    }

    /*sessionStorage.setItem('user_name', data.user_info.user_name);
    sessionStorage.setItem('user_id', data.user_info.user_id);
    sessionStorage.setItem('manager_id', data.user_info.manager_id);
    sessionStorage.setItem('user_mobile', data.user_info.mobile);
    sessionStorage.setItem('fax', data.user_info.fax);
    sessionStorage.setItem('groupName', data.user_info.groupName);*/
</script>
<body>
</body>
</html>
