<!DOCTYPE html>
<html>
<script>
    try{
        var sSId=sessionStorage.getItem('user_id')
    }catch(err){
        var sSId=null
    }
    try{
        var nId=window.native.getData('user_id')
    }catch(err){
        var nId=null
        //找不到原生发方法，可能是环境不是在android应用上打开的，或者调用方法不对
    }
    if(sSId != null || nId != null){
        location.href="/news"
    }else{
        location.href="/login"
    }

</script>
<body>
</body>
</html>
