<!DOCTYPE html>
<html>
<%-include ../base/checkHead.ejs%>
<body>
<div class="container">
    <%-include ../base/header.ejs%>
    <div class="wrap">
        <p class="title">关于建设某某论坛的建议</p>
        <img src="/images/default.png" />
        <p>政协简介政协简介政协简介政协简介政协简介政协简
            介政协简介政协简介政协简介政协简介政协简介政协简介
            政协简介政协简介政协简介政协简介政协简介政协简介政
            协简介政协简介政协简介政协简介政协简介政协简介政协简介
            政协简介政协简介政协简介政协简介政协简介政协简介政协简介
        </p>
    </div>
</div>
</body>
<style>
    .container{
        padding: 42px 0 0 0;
    }
    .wrap{
        text-align: center;
    }
    .wrap .title{
        background: #b8cae2;
        height: 40px;
        line-height: 40px;
        color: #0d0d0d;
        text-align: center;
    }
    .wrap img{
        width: 50%;
        margin: 20px 0 10px 0;
    }
    .wrap p{
        color: #3b3b3b;
        line-height: 24px;
        text-align: left;
        text-indent: 20px;
        font-size: 13px;
        padding: 0 20px;
    }

</style>
</html>
