<!DOCTYPE html>
<html>
<%-include ../base/checkHead.ejs%>
<style>
    .container{
        padding: 42px 0 0 0;
    }
    .wrap{
        padding: 0 10%;
        display: flex;
        align-items: center;
    }
    .list{
        text-align: center;
        padding: 0 0 10% 0;
        width: 100%;
    }
    .list .item{
        border-bottom: 1px solid #ddd;
        padding: 7% 10px;
    }
    .list .item img{
        width: 60px;
        vertical-align: middle;
        margin-right: 20px;
    }
    .list .item span{
        color: #000;
        font-size: var(--size16);
    }
</style>
<body>
<div class="container">
    <%-include ../base/header.ejs%>
    <div class="wrap">
        <ul class="list">
            <li class="item tijiao suSocial" data-url="/submitDetail">
                <img src="images/icons/msg1.png">
                <span>信息提交</span>
            </li>
            <li class="item tijiao" id="manager" data-url="/socialManage1">
                <img src="images/icons/msg4.png">
                <span>信息管理</span>
            </li>
            <li class="item" data-url="/socialSelected">
                <img src="images/icons/msg2.png">
                <span>信息选登</span>
            </li>
            <li class="item" data-url="/socialFine">
                <img src="images/icons/msg3.png">
                <span>优秀信息</span>
            </li>
        </ul>
    </div>
</div>
</body>
<script>
    $(function () {
        var user_id = sessionStorage.getItem("user_id")
        if (user_id == '' || user_id <= 0 || user_id == null) {
            if(role==1 || role==2){
                $(".suSocial").css("display", "none")
            } else if(role == 4 || role == 5){
                $(".tijiao").css("display", "none")
            }
        }
        $("#manager").attr("data-url", "/socialManage1?pageType=0&id=" + user_id)
    })
    $(document).on('click','.item',function () {
        sessionStorage.setItem("socialManagerList","")
        sessionStorage.setItem("socialManagerTop",0)
        sessionStorage.setItem("selectedList","")
        sessionStorage.setItem("selectedTop",0)
        sessionStorage.setItem("fineList","")
        sessionStorage.setItem("fineTop",0)
        sessionStorage.setItem("transitionType","slideIn")
        var url=$(this).attr("data-url")
        location.href=url
    })
</script>
</html>
