<!DOCTYPE html>
<html>
<%-include ../base/checkHead.ejs%>
<style>
    .container{
        padding: 42px 0 0 0;
    }
    .wrap{
        color: #3b3b3b;
        padding: 5px 10px;
    }
    .wrap p{
        color: #585757;
        line-height: 24px;
    }
    .wrap p.text-right{
        text-align: right;
    }
    .proposal-content{
        border-bottom: 1px solid #ddd;
        margin-top: 10px;
    }
    .proposal-content .row{
        display: flex;
        font-size: var(--size14);
        color: #585757;
        line-height: 30px;
        align-items: center;
        border: 1px solid #ddd;
        border-bottom: 0;
    }
    .proposal-content .row .left{
        width: 95px;
        text-align: center;
    }
    .proposal-content .row .right{
        flex: 1;
        border-left: 1px solid #ddd;
        padding: 5px;
        min-height: 30px;
    }
    .submit-content{
        margin-top: 10px;
    }
    .submit-content .row .desc{
        color: #0071bd;
        letter-spacing: 2px;
        padding-left: 10px;
    }
    .submit-content .row textarea{
        border: 1px solid #ddd;
        padding: 5px 10px;
        font-size: var(--size14);
    }
    .bottom{
        text-align: center;
        padding: 15px 0;
    }
    .bottom .content  button{
        width: 48%;
        display: inline-block;
        padding: 8px;
        letter-spacing: 2px;
    }
    .mui-btn-gray{
        color: #fff;
        border: 1px solid #888;
        background-color: #888;
        margin-right: 2%;
    }
</style>
<body>
<div class="container">
    <%-include ../base/header.ejs%>
    <div class="wrap">
        <div class="proposal-content">
            <div class="row">
                <span class="left">姓名</span>
                <span class="right" id="name"></span>
            </div>
            <div class="row">
                <span class="left">单位</span>
                <span class="right" id="fax"></span>
            </div>
            <div class="row">
                <span class="left">组别</span>
                <span class="right" id="groupName"></span>
            </div>
        </div>
        <div class="submit-content">
            <div class="row">
                <p class="desc">事由</p>
                <textarea placeholder="" rows="2" id="title" maxlength="25"></textarea>
            </div>
            <div class="row">
                <p class="desc">内容简介</p>
                <textarea placeholder="" rows="7" id="content"></textarea>
            </div>
        </div>
        <div class="bottom">
            <div class="content" id="submit">
                <button type="button" class="mui-btn mui-btn-gray" data-loading-icon="">保存</button>
                <button type="button" class="mui-btn mui-btn-primary" data-loading-icon="">提交</button>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    var user_id=sessionStorage.getItem("user_id")
    var user=JSON.parse(sessionStorage.getItem('user'))
    var userid,username,fax,groupName,tijiao_kind,sqmy_id,ideatitle,ideacontent;
    userid=user_id;
    username=user.user_name;
    fax=user.fax;
    groupName=user.groupName;
    $("#name").html(username)
    $("#fax").html(fax)
    $("#groupName").html(groupName)
    $("#submit button").each(function () {
        $(this).click(function () {
            ideatitle=$.trim($("#title").val());
            ideacontent=$.trim($("#content").val());
            if($(this).text()=='提交'){
                tijiao_kind=2;
                sqmy_id=0;
            }else if($(this).text()=='保存'){
                tijiao_kind=1;
                sqmy_id=0;
            }
            if(ideatitle == ''){
                mui.toast("请填写事由")
                return;
            }else if(ideacontent == ""){
                mui.toast("请填写内容")
                return false
            }else {
                var params = {
                    tijiao_kind: tijiao_kind,
                    sqmy_id: sqmy_id,
                    userid: userid,
                    username: username,
                    ideatitle: ideatitle,
                    ideacontent: ideacontent
                }
                var data = JSON.stringify(params)
                $.ajax({
                    url: 'http://<%=reqHost%>:<%=reqPort%>/ZxApi/m2_24.ashx',
                    type: "POST",
                    dataType: 'json',
                    data: data,
                    error: function (request) {      // 设置表单提交出错
                        mui.toast("系统错误，返回状态码为：" + request.status);
                    },
                    success: function (data) {
                        if(data.ecode==1000){
                            mui.toast("操作成功！");
                            setTimeout(function () {
                                history.go(-1)
                            },1000);
                        }else{
                            mui.toast("操作失败！");
                        }
                    }
                });
            }
        })
    })
</script>
</html>
