<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="product" content="SandGlass">
    <meta name="description" content="">
    <meta name="author" content="lishu">
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/mui.min.css">
    <script type='text/javascript' src='/js/jquery-1.10.2.js'></script>
    <script type='text/javascript' src='/js/mui.min.js'></script>
</head>
<style>
    .container {
        padding: 0;
        background-image: url("/images/login-bg.png");
        background-size: cover;
        background-repeat: no-repeat;
    }

    .login-content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .login-content .logo {
        padding-bottom: 4%;
        padding-top: 15%;
    }

    .login-content .logo img {
        width: 100px;
    }

    .login-content .title {
        font-size: 22px;
        color: #fff;
        padding: 2% 0 15% 0;
        letter-spacing: 1px;
        text-shadow: 2px 2px 5px #888;
    }

    .login-content .form {
        width: 60%;
        display: inline-block;
        text-align: left;
        margin-left: 20%;
    }

    .login-content .form .form-item {
        padding: 3% 0;
    }

    .login-content .form .form-item input {
        display: block;
        width: 100%;
        height: 30px;
        text-indent: 10px;
        border-radius: 2px;
        border: 0;
        padding: 0;
    }

    .login-content .form .form-item .but {
        display: inline-block;
        width: 100%;
        height: 35px;
        border-radius: 5px;
        margin-top: 8%;
        border: 0;
        font-size: 15px;
        background: #b8cae2;
        color: #343232;
    }

    .desc {
        width: 100%;
        font-size: 12px;
        text-align: center;
        color: #ddd;
        margin-top: 15% !important;
    }
</style>
<body>
<div class="container">
    <div class="login-content">
        <div class="logo">
            <img src="images/logo.png">
        </div>
        <h1 class="title">顺义政协移动议政平台</h1>
        <div class="form">
            <div class="form-item">
                <input type="text" id="username" placeholder="姓名"/>
            </div>
            <div class="form-item">
                <input type="text" id="telephone" placeholder="手机号"/>
            </div>
            <div class="form-item">
                <input type="text" id="password" placeholder="密码"/>
            </div>
            <div class="form-item">
                <button class="but" id="submit">登录</button>
            </div>
        </div>
        <p class="desc">&copy;北京大众在线网络技术有限公司提供技术支持</p>
    </div>
</div>
</body>
<script>
    $(function () {
        $("#submit").click(function () {
            var username = $("#username").val();
            var telephone = $("#telephone").val();
            var password = $("#password").val();
            if (username == '') {
                mui.toast('用户名不能为空');
                return;
            } else if (telephone == '') {
                mui.toast('手机号不能为空');
                return;
            } else if (password == '') {
                mui.toast('密码不能为空');
                return;
            }
            var params = {
                user_name: username,
                telephone: telephone,
                password: password
            }
            var data = JSON.stringify(params)
            $.ajax({
                url: 'http://<%=reqHost%>:<%=reqPort%>/ZxApi/m1_01.ashx',
                type: "POST",
                dataType: 'json',
                data: data,
                error: function (request) {      // 设置表单提交出错
                    mui.toast("系统错误，返回状态码为：" + request.status);
                },
                success: function (data) {
                    var code = data.ecode;
                    switch (code) {
                        case 1000:
                            mui.toast('登录成功');
                            sessionStorage.setItem('user_id', data.user_info.user_id);
                            sessionStorage.setItem('role_type', data.user_info.role_type);
                            sessionStorage.setItem('user', JSON.stringify(data.user_info));
                            try {
                                window.native.saveData("user_id", data.user_info.user_id);
                                window.native.saveData("role_type", data.user_info.role_type);
                                window.native.saveData("user", JSON.stringify(data.user_info));
                            } catch (err) {
                                //找不到原生发方法，可能是环境不是在android应用上打开的，或者调用方法不对
                            }
                            setTimeout(function () {
                                location.href = "/news"
                            }, 500)
                            break;
                        case 3101:
                            mui.toast('用户名不存在');
                            break;
                        case 3102:
                            mui.toast('手机号不存在');
                            break;
                        case 3103:
                            mui.toast('密码错误');
                            break;
                        case 3104:
                            mui.toast('用户姓名或手机号码错误');
                            break;
                        default:
                            mui.toast('服务器内部错误');
                            break;
                    }
                }
            });
        });
    })
</script>
</html>
