<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="product" content="SandGlass">
    <meta name="description" content="">
    <meta name="author" content="lishu">
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/mui.min.css">
    <script type='text/javascript' src='/js/jquery-1.10.2.js'></script>
    <script type='text/javascript' src='/js/mui.min.js'></script>
    <script type='text/javascript' src='/js/jquery.form.js'></script>
</head>