<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="product" content="SandGlass">
    <meta name="description" content="">
    <meta name="author" content="lishu">
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/mui.min.css">
    <link rel="stylesheet" type="text/css" href="/css/mescroll.css">
    <script type='text/javascript' src='/js/mescroll.js'></script>
    <script type='text/javascript' src='/js/jquery-1.10.2.js'></script>
    <script type='text/javascript' src='/js/mui.min.js'></script>
</head>
<style>
    .list-normal .item{
        padding: 10px;
        border-bottom: 1px solid #ddd;
        position: relative;
        display: block;
    }
    .list-normal .item .circle{
        position: absolute;
        top:15px;
        left: 13px;
        background: #0071bd;
        width: 10px;
        height: 10px;
    }
    .list-normal .item .anyou{
        line-height: 22px;
        color: #3b3b3b;
        text-indent: 20px;
        font-size: 15px;
        min-height: 22px;
    }
    .list-normal .item .bottom{
        font-size: 12px;
        color: #0071bd;
        text-align: right;
        overflow-y: auto;
        padding-top: 3px;
    }
    .list-normal .item .bottom .left{
        float: left;
        padding: 0 10px 0 0;
    }
    .list-normal .item .bottom .right{
        float: right;
        padding: 0 5px;
    }
    .empty{
        text-align: center;
        margin-top: 30%;
    }
    .empty img{
        width: 40%;
        margin-bottom: 3%;
    }
    .empty p{
        font-size: 17px;
        color: #9a9898;
    }
</style>
<script>
    var mId=sessionStorage.getItem('manager_id')
    var role=sessionStorage.getItem('role_type')
    if(mId == null || mId == ""){
        location.href="/login"
    }
</script>