<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="product" content="SandGlass">
    <meta name="description" content="">
    <meta name="author" content="lishu">
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/mui.min.css">
    <link rel="stylesheet" type="text/css" href="/css/mescroll.css">
    <script type='text/javascript' src='/js/mescroll.js'></script>
    <script type='text/javascript' src='/js/jquery-1.10.2.js'></script>
    <script type='text/javascript' src='/js/mui.min.js'></script>
</head>
<style>
    .container{
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-animation-duration: 0.3s;
        animation-duration: 0.3s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-name: slideIn;
        animation-name: slideIn;
        --size12:12px;
        --size13:13px;
        --size14:14px;
        --size15:15px;
        --size16:16px;
        --size17:17px;
        --size18:18px;
        --size19:19px;
    }
    .fontSmall{
        --size12:12px;
        --size13:13px;
        --size14:14px;
        --size15:15px;
        --size16:16px;
        --size17:17px;
        --size18:18px;
        --size19:19px;
    }
    .fontMedium{
        --size12:13px;
        --size13:14px;
        --size14:15px;
        --size15:16px;
        --size16:17px;
        --size17:18px;
        --size18:19px;
        --size19:20px;
    }
    .fontLarge{
        --size12:14px;
        --size13:15px;
        --size14:16px;
        --size15:17px;
        --size16:18px;
        --size17:19px;
        --size18:20px;
        --size19:21px;
    }
    .fontLargeL{
        --size12:15px;
        --size13:16px;
        --size14:17px;
        --size15:18px;
        --size16:19px;
        --size17:20px;
        --size18:21px;
        --size19:22px;
    }
    @-webkit-keyframes slideIn {
        0% {
            left: 100%;
        }
        100% {
            left: 0;
        }
    }
    @-webkit-keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    p{
        font-size: var(--size14);
    }
    .mui-btn, button{
        font-size: var(--size14);
    }
    .list-normal .item{
        padding: 10px;
        border-bottom: 1px solid #ddd;
        position: relative;
        display: block;
    }
    .list-normal .item .circle{
        position: absolute;
        top:15px;
        left: 13px;
        background: #0071bd;
        width: 10px;
        height: 10px;
    }
    .list-normal .item .anyou{
        line-height: 22px;
        color: #3b3b3b;
        text-indent: 20px;
        font-size: var(--size14);
        min-height: 22px;
    }
    .list-normal .item .bottom{
        font-size: var(--size12);
        color: #0071bd;
        text-align: right;
        overflow-y: auto;
        padding-top: 3px;
    }
    .list-normal .item .bottom .left{
        float: left;
        padding: 0 10px 0 0;
    }
    .list-normal .item .bottom .right{
        float: right;
        padding: 0 5px;
    }
    .empty{
        text-align: center;
        margin-top: 40%;
    }
    .empty img{
        width: 40%;
        margin-bottom: 3%;
    }
    .empty p{
        font-size: var(--size14);
        color: #585757;
    }
</style>
<script>
    var manager_id=localStorage.getItem('manager_id')
    var role_type=localStorage.getItem('role_type')
    var user_id=localStorage.getItem("user_id");
    if(manager_id == null || manager_id == ""){
        location.href="/login"
    }
    $(function () {
        var fontSizeType=localStorage.getItem("fontSizeType")
        if(fontSizeType=="标准"){
            $(".container").addClass("fontSmall")
        }else if(fontSizeType=="中"){
            $(".container").addClass("fontMedium")
        }else if(fontSizeType=="大"){
            $(".container").addClass("fontLarge")
        }else if(fontSizeType=="超大"){
            $(".container").addClass("fontLargeL")
        }
    })
</script>