<header>
    <span class="header-icon-left" onclick="javascript:history.go(-1)">
        <img src="/images/icons/back.png">
    </span>
    <p class="header-title">
        <%= title %>
    </p>
</header>
<style>
    header{
        position: fixed;
        height: 42px;
        top: 0;
        width: 100%;
        background: #006fb8;
        z-index: 10000;
    }
    header .header-title{
        line-height: 42px;
        margin: 0;
        padding: 0;
        text-align: center;
        color: #fff;
        font-size: var(--size17);
        letter-spacing: 1px;
    }
    header .header-icon-left{
        position: absolute;
        left: 0;
        top:0;
        width: 42px;
        height: 42px;
        text-align: center;
    }
    header .header-icon-left img{
        height: 22px;
        margin-top: 10px;
    }
</style>
