<style>
    .header-search {
        position: fixed;
        top: 0;
        width: 100%;
        height: 48px;
        background-image: url("/images/search-bg.png");
        background-repeat: no-repeat;
        background-size: cover;
        padding: 9px 0;
        box-sizing: border-box;
    }
    .header-search .search-box {
        position: relative;
        box-sizing: border-box;
        width: 90%;
        margin-left: 5%;
        padding: 0 50px 0 0;
        border: 1px solid #eeeeee;
        background: #fff;
    }
    .header-search .search-box input {
        height: 30px;
        text-indent: 10px;
        display: inline-block;
        width: 100%;
        border: 0;
        outline: none;
        padding: 0;
        background: none;
        margin: 0;
        font-size: 14px;
    }
    .mui-input-row .mui-input-clear~.mui-icon-clear{
        top:6px
    }
    .header-search .search-box .header-icon-right {
        position: absolute;
        right: 0;
        top: 2px;
        width: 50px;
        height: 24px;
        border-left: 2px solid #bcbcbc;
        text-align: center;
    }
    .header-search .search-box .header-icon-right img {
        height: 18px;
        margin-top: 3px;
    }
</style>
<header class="header-search">
    <div class="search-box">
        <div class="mui-input-row">
            <input type="text" class="mui-input-clear" placeholder="请输入您需要的内容" data-keyword="<%=keyword%>" id="info"/>
        </div>
        <span class="header-icon-right" id="search">
            <img src="/images/icons/search.png">
        </span>
    </div>
</header>

<script>
    var keyword=$("#info").attr("data-keyword");
    $("#info").val(keyword);
    $("#search").click(function () {
        sessionStorage.setItem("newsSearchTop", 0)
        var info = $.trim($("#info").val())
        if(info==""){
            mui.toast("请输入查找关键字")
        }else{
            location.href = "/search?keyword=" + info;
        }
    });
</script>