<style>
    .search-box {
        position: relative;
        box-sizing: border-box;
        width: 100%;
        height: 34px;
        padding: 0 50px 0 0;
        border: 1px solid #0071bd;
        background: #fff;
    }
    .search-box input {
        height: 32px;
        text-indent: 10px;
        display: inline-block;
        width: 100%;
        border: 0;
        outline: none;
        padding: 0;
        background: none;
        margin: 0;
        font-size: var(--size14);
    }
    .mui-input-row .mui-input-clear~.mui-icon-clear{
        top:7px
    }
    .search-box .header-icon-right {
        position: absolute;
        right: 0;
        top: 4px;
        width: 50px;
        height: 24px;
        border-left: 1px solid #0071bd;
        text-align: center;
    }
    .search-box .header-icon-right img {
        height: 18px;
        margin-top: 3px;
    }
</style>
<div class="search-box">
    <div class="mui-input-row">
        <input type="text" class="mui-input-clear" placeholder="请输入您需要的内容" data-keyword="<%=keyword%>" id="info"/>
    </div>
    <span class="header-icon-right" id="search">
        <img src="/images/icons/search.png">
    </span>
</div>
<script>
    var user_id=sessionStorage.getItem("user_id")
    var search_type="<%=search_type%>";
    var keyword="<%=keyword%>";
    $("#info").val(keyword)
    $("#search").click(function () {
        var info = $.trim($("#info").val())
        if(info==""){
            mui.toast("请输入查找关键字")
        }else{
            if(search_type=='member'){
                location.href = "/membersSearch?keyword=" + info;
            }else if(search_type=='proposal'){
                sessionStorage.setItem("proSearchTop", 0)
                location.href = "/proposalSearch?keyword=" + info+"&id="+user_id;
            }
        }
    });
</script>