<!DOCTYPE html>
<html>
<%-include ../base/checkHead.ejs%>
<body>
<div class="container">
    <%-include ../base/header.ejs%>
    <div class="wrap">
        <p class="title"><%=article.title%></p>
        <div class="content"><%-article.content%></div>
    </div>
</div>
</body>
<style>
    .container{
        padding: 42px 0 0 0;
    }
    .wrap .title{
        background: #b8cae2;
        padding: 10px;
        line-height: 26px;
        color: #0d0d0d;
        text-align: center;
        font-size: 16px;
    }
    .content{
        padding: 10px;
        word-break: break-word;
        width: 100%;
        overflow-x: hidden;
    }
    .content p{
        color: #3b3b3b;
        font-size: 15px;
        letter-spacing: 1px;
        word-break: break-word;
    }
    .content img{
        width: 100% !important;
    }
    .content table,.content img{
        width: 100%!important;
    }
</style>
</html>
