<!DOCTYPE html>
<html>
<%- include ../base/checkHead.ejs %>
<body>
<div class="container">
    <%- include ../base/header.ejs %>
    <div class="wrap">
        <div class="news-content">
            <ul class="news-list">
                <li class="item">
                    <a href="/videoDetail">
                        <img class="image" src="">
                        <div class="info">
                            <p class="title mui-ellipsis">顺义区政协顺义区政协</p>
                            <p class="desc mui-ellipsis-2">
                                顺义区政协顺义区政协顺义区政协顺义区政协顺义区政协
                                顺义区政协顺义区政协顺义区政协
                            </p>
                            <p class="time">2017/09/12</p>
                        </div>
                    </a>
                </li>
                <li class="item">
                    <a href="/videoDetail">
                        <img class="image" src="">
                        <div class="info">
                            <p class="title mui-ellipsis">顺义区政协顺义区政协</p>
                            <p class="desc mui-ellipsis-2">
                                顺义区政协顺义区政协顺义区政协顺义区政协顺义区政协
                                顺义区政协顺义区政协顺义区政协
                            </p>
                            <p class="time">2017/09/12</p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
<style>
    .container{
        padding: 42px 0 0 0;
    }
    .news-list {
        padding: 0;
    }
    .news-list .item {
        border-bottom: 1px solid #bcbcbc;
    }
    .news-list .item a {
        position: relative;
        width: 100%;
        display: block;
        padding: 15px 10px 10px 120px;
    }
    .news-list .item .image {
        position: absolute;
        top: 15px;
        left: 10px;
        width: 110px;
        height: 80px;
    }
    .news-list .item .info {
        padding-left: 10px;
    }
    .news-list .item .info .title {
        font-size: 15px;
        color: #323232;
        line-height: 24px;
    }
    .news-list .item .info .desc {
        color: #808080;
        line-height: 18px;
        height: 36px;
        font-size: 12px;
    }
    .news-list .item .info .time {
        color: #fa1414;
        font-size: 12px;
        line-height: 24px;
    }
</style>
<script>
</script>
</html>
