<!DOCTYPE html>
<html>
<%-include ../base/checkHead.ejs%>
<style>
    .container{
        padding: 42px 0 0 0;
    }
    .wrap{
        padding: 0 10%;
        display: flex;
        align-items: center;
        overflow: hidden;
    }
    .list{
        text-align: center;
        padding: 0 0 10% 0;
        width: 100%;
    }
    .list li{
        border-bottom: 1px solid #ddd;
        padding: 5% 10px;
    }
    .list li .item img{
        width: 60px;
        vertical-align: middle;
        margin-right: 20px;
    }
    .list li .item span{
        color: #000;
        font-size: 16px;
    }
</style>
<body>
<div class="container">
    <%-include ../base/header.ejs%>
    <div class="wrap">
        <ul class="list">
            <li id="tijiao">
                <div class="item" data-url="/proposalSubmit">
                    <img src="images/ta1.png">
                    <span>提案提交</span>
                </div>
            </li>
            <li>
                <div class="item" data-url="/proposalPublicity" id="publicity">
                    <img src="images/ta2.png">
                    <span>提案公示</span>
                </div>
            </li>
            <li>
                <div class="item" data-url="/proposalHonor" id="honor">
                    <img src="images/ta3.png">
                    <span>提案表彰</span>
                </div>
            </li>
            <li>
                <div class="item" data-url="/proposalKnow">
                    <img src="images/ta4.png">
                    <span>提案知识</span>
                </div>
            </li>
           <!-- <li>
                <div class="item" data-url="/proposalLecture">
                    <img src="images/ta5.png">
                    <span>提案讲座</span>
                </a>
            </li>-->
        </ul>
    </div>
</div>
</body>
<script>
    $(function () {
        var user_id=sessionStorage.getItem("user_id")
        if ((role==4 || role==5) && (user_id=='' || user_id<=0 || user_id==null)) {
            $("#tijiao").css("display", "none")
        }else{
            $("#tijiao").css("display", "block")
        }
        $("#publicity").attr("data-url","/proposalPublicity?id="+user_id)
        $("#honor").attr("data-url","/proposalHonor?id="+user_id)

    })
    $(document).on('click','.item',function () {
        sessionStorage.setItem("honorList","")
        sessionStorage.setItem("honorTop",0)
        sessionStorage.setItem("knowList","")
        sessionStorage.setItem("knowTop",0)
        sessionStorage.setItem("publicityList","")
        sessionStorage.setItem("publicityTop",0)
        var url=$(this).attr("data-url")
        location.href=url
    })
</script>
</html>
