<!DOCTYPE html>
<html>
<%-include ../base/checkHead.ejs%>
<style>
    .container{
        padding: 42px 0 0 0;
    }
    .wrap{
        padding: 0 10%;
        display: flex;
        align-items: center;
        overflow: hidden;
    }
    .list{
        padding: 0 0 10% 0;
        width: 100%;
    }
    .list li{
        border-bottom: 1px solid #ddd;
        padding: 7% 10px;
        text-align: center;
    }
    .list li .item{
        display: inline-block;
        white-space: nowrap;
    }
    .list li .item .left{
        width: 70px;
        text-align: left;
        display: inline-block;
    }
    .list li .item .left img{
        width: 60px;
        vertical-align: middle;
    }
    .list li .item .right{
        color: #000;
        font-size: var(--size16);
        display: inline-block;
        width: 100px;
        text-align: left;
    }
</style>
<body>
<div class="container">
    <%-include ../base/header.ejs%>
    <div class="wrap">
        <ul class="list">
            <li>
                <div class="item" data-url="/proposalDown" id="down">
                    <span class="left">
                        <img src="images/ta_bxz.png">
                    </span>
                    <span class="right">提案表下载</span>
                </div>
            </li>
            <li id="subProposal">
                <div class="item" data-url="/submitProposal">
                    <span class="left">
                        <img src="images/ta_tj.png">
                    </span>
                    <span class="right">提案提交</span>
                </div>
            </li>
            <li>
                <div class="item" data-url="/proposalManage" id="manage">
                    <span class="left">
                        <img src="images/ta_gl.png">
                    </span>
                    <span class="right">提案管理</span>
                </div>
            </li>
        </ul>
    </div>
</div>
</body>
<script>
    $(document).on('click','.item',function () {
        sessionStorage.setItem("downList","")
        sessionStorage.setItem("downTop",0)
        sessionStorage.setItem("managerList","")
        sessionStorage.setItem("managerTop",0)
        sessionStorage.setItem("transitionType","slideIn")
        var url=$(this).attr("data-url")
        location.href=url
    })
    $(function () {
        var user_id=sessionStorage.getItem("user_id")
        if ((role == 1 || role == 2) && (user_id<=0 || user_id=='' || user_id==null)) {
            $("#subProposal").css("display", "none")
        }
        $("#down").attr("data-url","/proposalDown?id="+user_id)
        $("#manage").attr("data-url","/proposalManage1?pageType=0&id="+user_id)
    })
</script>
</html>
