<!DOCTYPE html>
<html>
<%-include ../base/checkHead.ejs%>
<style>
    .container{
        padding: 42px 0 0 0;
    }
    .wrap{
        padding: 0 10%;
        display: flex;
        align-items: center;
    }
    .list{
        text-align: center;
        padding: 0 0 10% 0;
        width: 100%;
    }
    .list li{
        border-bottom: 1px solid #adaaaa;
        padding: 5% 10px;
    }
    .list li a img{
        width: 60px;
        vertical-align: middle;
        margin-right: 20px;
    }
    .list li a span{
        color: #000;
        font-size: 18px;
        font-weight: bold;
    }
</style>
<body>
<div class="container">
    <%-include ../base/header.ejs%>
    <div class="wrap">
        <ul class="list">
            <li>
                <a href="/proposalSubmit">
                    <img src="images/ta1.png">
                    <span>提案提交</span>
                </a>
            </li>
            <li>
                <a href="/proposalPublicity">
                    <img src="images/ta2.png">
                    <span>提案公示</span>
                </a>
            </li>
            <li>
                <a href="/proposalHonor">
                    <img src="images/ta3.png">
                    <span>提案表彰</span>
                </a>
            </li>
            <li>
                <a href="/proposalKnow">
                    <img src="images/ta4.png">
                    <span>提案知识</span>
                </a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>
