<!DOCTYPE html>
<html>
<%-include ../base/checkHead.ejs%>
<style>
    .container{
        padding: 42px 0 0 0;
    }
    .wrap{
        color: #3b3b3b;
        padding: 5px 10px;
    }
    .wrap p{
        color: #585757;
        line-height: 24px;
    }
    .wrap p.text-right{
        text-align: right;
    }
    .proposal-content{
        border-bottom: 1px solid #ddd;
        margin-top: 10px;
    }
    .proposal-content .row{
        display: flex;
        font-size: var(--size14);
        color: #585757;
        line-height: 30px;
        align-items: center;
        border: 1px solid #ddd;
        border-bottom: 0;
    }
    .proposal-content .row .left{
        width: 95px;
        text-align: center;
    }
    .proposal-content .row .right{
        flex: 1;
        border-left: 1px solid #ddd;
        padding: 5px;
        min-height: 30px;
    }
    .submit-content{
        margin-top: 10px;
    }
    .submit-content .row .desc{
        color: #0071bd;
        letter-spacing: 2px;
        padding-left: 10px;
    }
    .submit-content .row textarea{
        border: 1px solid #ddd;
        padding: 5px 10px;
        font-size: var(--size14);
    }
    .bottom{
        padding:0 0 10px 0;
        text-align: center;
    }
    .bottom .content  button{
        width: 48%;
        display: inline-block;
        padding: 8px;
        letter-spacing: 2px;
    }
    .mui-btn-gray{
        color: #fff;
        border: 1px solid #888;
        background-color: #888;
        margin-right: 2%;
    }
</style>
<body>
<div class="container">
    <%-include ../base/header.ejs%>
    <div class="wrap">
        <div class="proposal-content">
            <div class="row">
                <span class="left">提案人姓名</span>
                <span class="right" id="name"></span>
            </div>
            <div class="row">
                <span class="left">电话号码</span>
                <span class="right" id="mobile"></span>
            </div>
        </div>
        <div class="submit-content">
            <div class="row">
                <p class="desc">委员证号码</p>
                <textarea placeholder="" rows="1" maxlength="25"  id="weinum"></textarea>
            </div>
            <div class="row">
                <p class="desc">单位</p>
                <textarea placeholder="" rows="2" id="company" maxlength="25" ></textarea>
            </div>
            <div class="row">
                <p class="desc">案由</p>
                <textarea placeholder="" rows="3" id="anyou" maxlength="250" ></textarea>
            </div>
            <div class="row">
                <p class="desc">问题</p>
                <textarea placeholder="" rows="5" id="problem"></textarea>
            </div>
            <div class="row">
                <p class="desc">分析</p>
                <textarea placeholder="" rows="5" id="analyse"></textarea>
            </div>
            <div class="row">
                <p class="desc">建议</p>
                <textarea placeholder="" rows="5" id="advice"></textarea>
            </div>
            <div class="row">
                <p class="desc">附议人</p>
                <textarea placeholder="" rows="1" id="resolutioner"></textarea>
            </div>
        </div>
        <div class="bottom">
            <div class="content" id="submit">
                <button type="button" class="mui-btn mui-btn-gray" data-loading-icon="">保存</button>
                <button type="button" class="mui-btn mui-btn-primary" data-loading-icon="">提交</button>
            </div>
        </div>
    </div>
</div>
</body>
<script>
$(function() {
    var user=JSON.parse(sessionStorage.getItem('user'))
    var user_name=user.user_name;
    var mobile=user.mobile;
    var company=user.fax;
    var user_id=user.user_id;
    var tijiao_kind;
    var tian_id=0;
    var weinum,anyou,problem,analyse,advice,resolutioner;
    $("#name").html(user_name)
    $("#mobile").html(mobile)
    $("#company").val(company)
    $("#submit button").each(function () {
        $(this).click(function () {
            company=$.trim($("#company").val());
            weinum=$.trim($("#weinum").val());
            anyou=$.trim($("#anyou").val());
            problem=$.trim($("#problem").val());
            analyse=$.trim($("#analyse").val());
            advice=$.trim($("#advice").val());
            resolutioner=$.trim($("#resolutioner").val());
            if($(this).text()=='提交'){
                tijiao_kind=2;
            }else if($(this).text()=='保存'){
                tijiao_kind=1;
            }
            if(user_name == ''||mobile==''){
                mui.toast("系统错误")
                return false
            }else if(company==''){
                mui.toast("单位不能为空")
                return false
            }else if(anyou==''){
                mui.toast("案由不能为空")
                return false
            }else if(problem==''){
                mui.toast("问题不能为空")
                return false
            }else if(analyse==''){
                mui.toast("分析不能为空")
                return false
            }else if(advice==''){
                mui.toast("建议不能为空")
                return false
            }else {
                var params = {
                    tijiao_kind: tijiao_kind,
                    tian_id: tian_id,
                    user_id: user_id,
                    user_name: user_name,
                    company: company,
                    weinum: weinum,
                    mobile: mobile,
                    anyou: anyou,
                    problem: problem,
                    analyse: analyse,
                    advice: advice,
                    resolutioner:resolutioner
                }
                var data = JSON.stringify(params)
                $.ajax({
                    url: 'http://<%=reqHost%>:<%=reqPort%>/ZxApi/m2_16.ashx',
                    type: "POST",
                    dataType: 'json',
                    data: data,
                    error: function (request) {      // 设置表单提交出错
                        mui.toast("系统错误，返回状态码为：" + request.status);
                    },
                    success: function (data) {
                        if(data.ecode==1000){
                            mui.toast("操作成功！");
                            setTimeout(function () {
                                history.go(-1)
                            },1000);
                        }else{
                            mui.toast("操作失败！");
                        }
                    }
                });
            }
        })
    })
})
</script>
</html>
