<!DOCTYPE html>
<html>
<%-include ../base/checkHead.ejs%>
<body>
<div class="container">
    <%-include ../base/header.ejs%>
    <div class="wrap">
        <div class="proposal-content">
            <div class="row">
                <span class="left">编号</span>
                <span class="right" id="num"></span>
            </div>
            <div class="row">
                <span class="left">发起人</span>
                <span class="right" id="name"></span>
            </div>
            <div class="row">
                <span class="left">发起日期</span>
                <span class="right" id="date"></span>
            </div>
            <div class="row">
                <span class="left">文件标题</span>
                <span class="right" id="title">
                    <textarea placeholder="" rows="1"></textarea>
                </span>
            </div>
            <div class="row">
                <span class="left">内容</span>
                <span class="right" id="content"><textarea placeholder="" rows="5"></textarea></span>
            </div>
            <div class="row">
                <span class="left">附件</span>
                <span class="right"></span>
            </div>
            <div class="row">
                <span class="left">选择处理人</span>
                <span class="right">
                    <select id="leaders" multiple="multiple">
                        <option>lishu</option>
                    </select>
                </span>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="content" id="submit">
            <div class="left">保存草稿</div>
            <div class="right">完成提交</div>
        </div>
    </div>
</div>
</body>
<style>
    .container{
        padding: 42px 0 50px 0;
    }
    .wrap{
        color: #3b3b3b;
        padding: 5px 10px;
    }
    .wrap p{
        color: #585757;
        line-height: 24px;
    }
    .wrap p.text-right{
        text-align: right;
    }
    .proposal-content{
        border-bottom: 1px solid #adaaaa;
        margin-top: 10px;
    }
    .proposal-content .row{
        display: flex;
        font-size: 14px;
        color: #585757;
        line-height: 30px;
        align-items: center;
        border: 1px solid #adaaaa;
        border-bottom: 0;
    }
    .proposal-content .row .left{
        width: 110px;
        text-align: center;
    }
    .proposal-content .row .right{
        flex: 1;
        border-left: 1px solid #adaaaa;
        padding: 5px;
        min-height: 30px;
    }
    .proposal-content .row .right textarea{
        margin: 0 ;
    }
    .bottom{
        position: fixed;
        height: 50px;
        width: 100%;
        bottom: 0;
        right: 0;
        background: #e1edfd;
        border: 1px solid #00a0e9;
    }
    .bottom .content{
        display: flex;
        text-align: center;
        height: 50px;
        line-height: 50px;
    }
    .bottom .content .left{
        width: 40%;
        border-right: 1px solid #00a0e9;
    }
    .bottom .content .right{
        flex: 1;
    }

</style>
<script>
$(function() {
    $("#leaders").html("");
    $.ajax({  //取分组
        url: 'http://114.215.98.96:8011/ZxApi/m3_07.ashx',
        type: "POST",
        dataType: 'json',
        data: {},
        error: function (request) {      // 设置表单提交出错
            mui.toast("系统错误");
        },
        success: function (data) {
            if (data.ecode == 1000) {
                var list = data.leader_list;
                $.each(list, function (i) {
                    var option = '<option value="' + list[i].user_name + '" id='+list[i].user_id+'>' + list[i].user_name + '</option>'
                    $("#leaders").append(option);
                })
            }
        }
    });

    var user_name=sessionStorage.getItem('user_name');
    var user_id=sessionStorage.getItem('user_id');
    var date=new Date();
    var currentDate=date.getFullYear()+"/"+(date.getMonth()+1)+"/"+date.getDate()
    $("#name").html(user_name);
    $("#date").html(currentDate);
    $("#submit div").each(function () {
        $(this).click(function () {
            var tijiao_kind,dailywork_id,worktitle,workcontent,createuserid,username,createdate,dailyworkattach_list,dailyworkuser_list;
            createuserid=user_id;
            username=user_name;
            createdate=currentDate;
            dailyworkattach_list="";
            worktitle=$("#title").val();
            workcontent=$("#content").val();
            if($(this).text()=='完成提交'){
                tijiao_kind=2;
                dailywork_id=0;
            }else if($(this).text()=='保存草稿'){
                tijiao_kind=1;
                dailywork_id=0;
            }
            if(worktitle == null||workcontent==null){
                mui.toast("请填写完整")
                return;
            }else {
                var params = {
                    tijiao_kind: tijiao_kind,
                    dailywork_id: dailywork_id,
                    worktitle: worktitle,
                    workcontent: workcontent,
                    createuserid: createuserid,
                    username: username,
                    createdate: createdate,
                    dailyworkattach_list: dailyworkattach_list,
                    dailyworkuser_list: dailyworkuser_list
                }
                var data = JSON.stringify(params)
                $.ajax({
                    url: 'http://114.215.98.96:8011/ZxApi/m2_16.ashx',
                    type: "POST",
                    dataType: 'json',
                    data: data,
                    error: function (request) {      // 设置表单提交出错
                        mui.toast("系统错误，返回状态码为：" + request.status);
                    },
                    success: function (data) {
                        if(data.ecode==1000){
                            mui.toast('操作成功');
                        }
                    }
                });
            }
        })
    })
})
</script>
</html>
