<!DOCTYPE html>
<html>
<%-include ../base/checkHead.ejs%>
<body>
<div class="container">
    <%-include ../base/header.ejs%>
    <div class="wrap">
        <p><%-result.content%></p>
    </div>
</div>
</body>
<style>
    .container{
        padding: 42px 0 0 0;
    }
    .wrap{
        padding: 20px 10px;
    }
</style>
</html>
