<!DOCTYPE html>
<html>
<%-include ../base/checkHead.ejs%>
<style>
    .container{
        padding: 42px 0 0 0;
    }
    .wrap{
        padding: 0 10%;
        display: flex;
        align-items: center;
    }
    .list{
        text-align: center;
        padding: 0 0 10% 0;
        width: 100%;
    }
    .list .item{
        border-bottom: 1px solid #ddd;
        padding: 7% 10px;
    }
    .list .item img{
        width: 60px;
        vertical-align: middle;
        margin-right: 20px;
    }
    .list .item span{
        color: #3b3b3b;
        font-size: var(--size16);
    }
    #start{
        display: none;
    }
</style>
<body>
<div class="container">
    <%-include ../base/header.ejs%>
    <div class="wrap">
        <ul class="list">
            <li id="start" class="item" data-url="/workManager1">
                <img src="images/icons/flow1.png">
                <span>发起流转</span>
            </li>
            <li id="todo" class="item" data-url="/todoWork">
                <img src="images/icons/flow2.png">
                <span>待办流转</span>
            </li>
            <li id="done" class="item" data-url="/doneWork">
                <img src="images/icons/flow3.png">
                <span>已办流转</span>
            </li>
            <li class="item" data-url="/searchWork">
                <img src="images/icons/flow4.png">
                <span>查询流转</span>
            </li>
        </ul>
    </div>
</div>
</body>
<script>
    $(document).on('click','.item',function () {
        sessionStorage.setItem("todoList","")
        sessionStorage.setItem("todoTop",0)
        sessionStorage.setItem("doneList","")
        sessionStorage.setItem("doneTop",0)
        sessionStorage.setItem("workManagerList","")
        sessionStorage.setItem("workManagerTop",0)
        sessionStorage.setItem("workSearchList","")
        sessionStorage.setItem("workSearchTop",0)
        sessionStorage.setItem("transitionType","slideIn")
        var url=$(this).attr("data-url")
        location.href=url
    })
    $(function () {
        if(role==4){
            $("#start").css("display","block")
        }
        var user_id=sessionStorage.getItem("user_id");
        var manager_id=sessionStorage.getItem("manager_id");
        var role_type=sessionStorage.getItem("role_type");
        $("#start").attr("data-url","/workManager1?pageType=0&id="+user_id+"&manager_id="+manager_id+"&role_type="+role_type);
        $("#todo").attr("data-url","/todoWork?id="+user_id+"&manager_id="+manager_id+"&role_type="+role_type);
        $("#done").attr("data-url","/doneWork?id="+user_id+"&manager_id="+manager_id+"&role_type="+role_type);
    })
</script>
</html>
