<!DOCTYPE html>
<html>
<%-include ../base/checkHead.ejs%>
<style>
    .container{
        padding: 42px 0 0 0;
    }
    .wrap{
        padding: 0 10%;
        display: flex;
        align-items: center;
    }
    .list{
        text-align: center;
        padding: 0 0 10% 0;
        width: 100%;
    }
    .list .item{
        border-bottom: 1px solid #ddd;
        padding: 7% 10px;
        position: relative;
    }
    .list .item img{
        width: 60px;
        vertical-align: middle;
        margin-right: 20px;
    }
    .list .item span{
        color: #3b3b3b;
        font-size: var(--size16);
    }
    #start{
        display: none;
    }
    .todowork-num{
        position: absolute;
        padding: 0 10px;
        line-height: 58px;
        color: #fa1414 !important;
        font-size: var(--size15) !important;
    }
</style>
<body>
<div class="container">
    <%-include ../base/header.ejs%>
    <div class="wrap">
        <ul class="list">
            <li id="start" class="item" data-url="/workManager1">
                <img src="images/icons/flow1.png">
                <span>发起流转</span>
            </li>
            <li id="todo" class="item" data-url="/todoWork">
                <img src="images/icons/flow2.png">
                <span>待办流转</span>
                <span class="todowork-num" style="display: none"></span>
            </li>
            <li id="done" class="item" data-url="/doneWork">
                <img src="images/icons/flow3.png">
                <span>已办流转</span>
            </li>
            <li class="item" data-url="/searchWork">
                <img src="images/icons/flow4.png">
                <span>查询流转</span>
            </li>
        </ul>
    </div>
</div>
</body>
<script>
    $(document).on('click','.item',function () {
        sessionStorage.setItem("todoList","")
        sessionStorage.setItem("todoTop",0)
        sessionStorage.setItem("doneList","")
        sessionStorage.setItem("doneTop",0)
        sessionStorage.setItem("workManagerList","")
        sessionStorage.setItem("workManagerTop",0)
        sessionStorage.setItem("workSearchList","")
        sessionStorage.setItem("workSearchTop",0)
        sessionStorage.setItem("transitionType","slideIn")
        var url=$(this).attr("data-url")
        location.href=url
    })
    $(function () {
        if(role_type==4){
            $("#start").css("display","block")
        }
        $("#start").attr("data-url","/workManager1?pageType=0&id="+user_id+"&manager_id="+manager_id+"&role_type="+role_type);
        $("#todo").attr("data-url","/todoWork?id="+user_id+"&manager_id="+manager_id+"&role_type="+role_type);
        $("#done").attr("data-url","/doneWork?id="+user_id+"&manager_id="+manager_id+"&role_type="+role_type);

        var params = {
            manager_id: manager_id,
            role_type: role_type,
            user_id: user_id
        }
        var data = JSON.stringify(params)
        $.ajax({
            url: 'http://<%= reqHost %>:<%= reqPort %>/ZxApi/m3_16.ashx',
            type: "POST",
            dataType: 'json',
            data: data,
            error: function (request) {      // 设置表单提交出错
                mui.toast("系统错误，返回状态码为：" + request.status);
            },
            success: function (data) {
                if (data.ecode == 1000) {
                    var work_num
                    if(data.num>0){
                        $(".todowork-num").css("display","inline-block")
                    }
                    if(data.num>99){
                        work_num="99+"
                    }else {
                        work_num=data.num
                    }
                    $(".todowork-num").html(work_num)
                }
            }
        })
    })
</script>
</html>
