<!DOCTYPE html>
<html>
<%-include ../base/checkHead.ejs%>
<body>
<div class="container">
    <%-include ../base/header-search.ejs%>
    <%-include ../base/footer-nav.ejs%>
    <div class="wrap work-content">
        <ul>
            <li>
                <a href="/workInfo">
                    <p>政协简介</p>
                </a>
            </li>
            <li>
                <a href="/workOrder">
                    <p>政协领导</p>
                </a>
            </li>
            <li>
                <a href="/workFiles">
                    <p>政协文件</p>
                </a>
            </li>
            <li>
                <a href="/workFlow">
                    <p>文件流传</p>
                </a>
            </li>
            <li>
                <a href="/workNotices">
                    <p>通知</p>
                </a>
            </li>
        </ul>
    </div>
</div>
</body>
<style>
    .work-content ul li{
        height: 50px;
        line-height: 50px;
        border-bottom: 1px solid #adaaaa;
        padding: 0 10px;
        background-image: url("/images/icons/back-right.png");
        background-size: 8px;
        background-repeat: no-repeat;
        background-position: center right 10px;
    }
    .work-content ul li p{
        font-size: 16px;
        color: #000;
    }

</style>
</html>
