<!DOCTYPE html>
<html>
<%-include ../base/checkHead.ejs%>
<body>
<div class="container">
    <%-include ../base/header.ejs%>
    <!--<div class="wrap">
        <div class="group">
            <div class="item">
                <img src="" />
                <p>主席 name</p>
            </div>
        </div>
        <div class="group">
            <div class="item">
                <img src="" />
                <p>副主席 name</p>
            </div>
            <div class="item">
                <img src="" />
                <p>副主席 name</p>
            </div>
            <div class="item">
                <img src="" />
                <p>副主席 name</p>
            </div>
            <div class="item">
                <img src="" />
                <p>副主席 副主席</p>
            </div>
            <div class="item">
                <img src="" />
                <p>副主席 name</p>
            </div>
            <div class="item">
                <img src="" />
                <p>副主席 副主席</p>
            </div>
            <div class="item">
                <img src="" />
                <p>副主席 name</p>
            </div>
            <div class="item">
                <img src="" />
                <p>副主席 副主席</p>
            </div>
        </div>
    </div>-->
    <div class="wrap">
        <p><%-result.content%></p>
    </div>
</div>
</body>
<style>
    .container{
        padding: 42px 0 0 0;
    }
    .wrap{
    }
    .group{
        padding: 20px 0 0 0;
        border-bottom: 1px solid #adaaaa;
        overflow-y: auto;
    }
    .group .item{
        width: 33.3333%;
        text-align: center;
        display: inline-block;
        padding: 0 0 20px 0;
        float: left;
    }
    .group .item img{
        width: 80px;
        height: 110px;
        background: #00a0e9;

    }
    .group .item p{
        font-size: 12px;
        color: #3b3b3b;

    }


</style>
</html>
