<!DOCTYPE html>
<html>
<%-include ../base/checkHead.ejs%>
<style>
    .container{
        -webkit-animation-name: slideOut;
        animation-name: slideOut;
    }
    .work-content ul li{
        position: relative;
        height: 50px;
        line-height: 50px;
        border-bottom: 1px solid #ddd;
        padding: 0 10px 0 44px;
        background-image: url("/images/icons/back-right.png");
        background-size: 8px;
        background-repeat: no-repeat;
        background-position: center right 10px;
    }
    .work-content ul li img{
        position: absolute;
        left: 10px;
        top: 13px;
        width: 24px;
    }
    .work-content ul li p{
        font-size: var(--size14);
        color: #000;
    }
    .work-content ul li .todowork-num{
        position: absolute;
        right: 20px;
        top:0;
        padding: 0 10px;
        color: #fa1414;
        font-size: var(--size15);
    }
    .pic-content{
        padding: 6px 0 2px 0;
        background: #f5f5f5;
    }
    .pic-content img{
        width: 100%;
    }
</style>
<body>
<div class="container">
    <%-include ../base/header-search.ejs%>
    <%-include ../base/footer-nav.ejs%>
    <div class="wrap work-content">
        <div class="pic-content">
            <img src="images/work-banner.png">
        </div>
        <ul>
            <li class="item" data-url="/workInfo">
                <img src="images/work1.png">
                <p>政协简介</p>
            </li>
            <li class="item" data-url="/workOrder">
                <img src="images/work2.png">
                <p>政协领导</p>
            </li>
            <li class="item" data-url="/workFiles">
                <img src="images/work3.png">
                <p>政协文件</p>
            </li>
            <li class="item" data-url="/workFlow" id="flow" style="display: none">
                <img src="images/work4.png">
                <p>文件流转</p>
                <span class="todowork-num" style="display: none"></span>
            </li>
            <li class="item" data-url="/workNotices">
                <img src="images/work5.png">
                <p>通知</p>
            </li>
        </ul>
    </div>
</div>
</body>
<script>
    $(document).on('click','.item',function () {
        sessionStorage.setItem("noticesList","")
        sessionStorage.setItem("noticesTop",0)
        sessionStorage.setItem("filesList","")
        sessionStorage.setItem("filesTop",0)
        sessionStorage.setItem("orderTop",0)
        var url=$(this).attr("data-url")
        location.href=url
    })
    $(function () {
        if(role_type==4 || role_type==5){
            $("#flow").css("display","block")
        }

    })
</script>
</html>
