<!DOCTYPE html>
<html>
<%-include ../base/checkHead.ejs%>
<style>
    .work-content ul li{
        position: relative;
        height: 50px;
        line-height: 50px;
        border-bottom: 1px solid #ddd;
        padding: 0 10px;
        background-image: url("/images/icons/back-right.png");
        background-size: 8px;
        background-repeat: no-repeat;
        background-position: center right 10px;
    }
    .work-content ul li p{
        font-size: 16px;
        color: #000;
    }
    .work-content ul li .num{
        position: absolute;
        right: 20px;
        top:0;
        padding: 0 10px;
        color: #fa1414;
        font-size: 15px;
    }
</style>
<body>
<div class="container">
    <%-include ../base/header-search.ejs%>
    <%-include ../base/footer-nav.ejs%>
    <div class="wrap work-content">
        <ul>
            <li class="item" data-url="/workInfo">
                <p>政协简介</p>
            </li>
            <li class="item" data-url="/workOrder">
                <p>政协领导</p>
            </li>
            <li class="item" data-url="/workFiles">
                <p>政协文件</p>
            </li>
            <li class="item" data-url="/workFlow" id="flow" style="display: none">
                <p>文件流转</p>
                <span class="num"><%=num%></span>
            </li>
            <li class="item" data-url="/workNotices">
                <p>通知</p>
            </li>
        </ul>
    </div>
</div>
</body>
<script>
    $(document).on('click','.item',function () {
        sessionStorage.setItem("noticesList","")
        sessionStorage.setItem("noticesTop",0)
        sessionStorage.setItem("filesList","")
        sessionStorage.setItem("filesTop",0)
        var url=$(this).attr("data-url")
        location.href=url
    })
    $(function () {
        if(role==4 || role==5){
            $("#flow").css("display","block")
        }
    })
</script>
</html>
