<!DOCTYPE html>
<html>
<%-include ../base/checkHead.ejs%>
<style>
    .container{
        padding: 42px 0 0 0;
    }
    .wrap{
        padding: 15px;
    }
    .wrap .row input{
        width: 100%;
        border: 1px solid #00a0e9;
        text-indent: 10px;
    }
    .confirm{
        padding:10px 0;
        text-align: center;
    }
    .mui-btn-primary{
        display: inline-block;
        width: 100%;
        letter-spacing: 1px;
        padding: 7px 15px;
        font-size: var(--size14);
    }
</style>
<body>
<div class="container">
    <%-include ../base/header.ejs%>
    <div class="wrap">
        <div class="row mui-input-row mui-password">
            <input type="password" class="mui-input-password" placeholder="请输入原始密码" id="pwd" maxlength="50"/>
        </div>
        <div class="row mui-input-row mui-password">
            <input type="password" class="mui-input-password" placeholder="请输入新密码" id="newpwd" maxlength="50"/>
        </div>
        <div class="row mui-input-row mui-password">
            <input type="password" class="mui-input-password" placeholder="请再次输入新密码" id="reppwd" maxlength="50"/>
        </div>
        <div class="confirm">
            <button type="button" class="mui-btn mui-btn-primary" data-loading-icon="">确认修改</button>
        </div>
    </div>
</div>
</body>
<script>
    var manager_id=sessionStorage.getItem("manager_id")
    $('.confirm button').click(function () {
        var _self=this
        mui(this).button('loading');
        var psw = $.trim($('#pwd').val());
        var newpsw = $.trim($('#newpwd').val());
        var reppwd = $.trim($('#reppwd').val());
        if(newpsw==""){
            mui.toast('新密码不能为空');
            mui(this).button('reset');
            return;
        }else if(newpsw!=reppwd){
            mui.toast('新密码两次输入不相同');
            mui(this).button('reset');
            return;
        }
        var params = {
            manager_id: manager_id,
            old_password: psw,
            new_password: newpsw
        }
        var data = JSON.stringify(params)
        $.ajax({
            url: 'http://<%=reqHost%>:<%=reqPort%>/ZxApi/m4_01.ashx',
            type: "POST",
            dataType: 'json',
            data: data,
            error: function (request) {      // 设置表单提交出错
                mui.toast("系统错误，返回状态码为：" + request.status);
                mui(_self).button('reset');
            },
            success: function (data) {
                if(data.ecode==1000){
                    mui.toast('修改成功');
                    mui(_self).button('reset');
                    $(_self).attr("disabled",true);
                    setTimeout(function () {
                        history.go(-1)
                    },1000)
                }else if(data.ecode==3103){
                    mui.toast('旧密码错误');
                    mui(_self).button('reset');
                }else{
                    mui.toast('修改失败');
                    mui(_self).button('reset');
                }
            }
        });
    });
</script>
</html>