<!DOCTYPE html>
<html>
<%-include ../base/checkHead.ejs%>
<body>
<div class="container">
    <%-include ../base/header-search.ejs%>
    <%-include ../base/footer-nav.ejs%>
    <div class="wrap">

    </div>
</div>
</body>
<script>
    var name=sessionStorage.getItem('user_name')
    console.log(name)
</script>
<style>


</style>
</html>
