<!DOCTYPE html>
<html>
<%-include ../base/checkHead.ejs%>
<style>
    .container{
        padding: 42px 0 0 0;
    }
    .wrap{
        padding: 15px;
    }
    .wrap .row input{
        width: 100%;
        border: 1px solid #00a0e9;
        text-indent: 10px;
    }
    .confirm{
        text-align: center;
    }
    .confirm span{
        background: #e1edfd;
        border-radius: 5px;
        padding: 12px ;
        display: block;
        color: #343232;
        margin-top: 30px;
        font-size: 16px;
    }
</style>
<body>
<div class="container">
    <%-include ../base/header.ejs%>
    <div class="wrap">
        <div class="row">
            <input type="text" placeholder="请输入原始密码" id="pwd" maxlength="50"/>
        </div>
        <div class="row">
            <input type="text" placeholder="请输入新密码" id="newpwd" maxlength="50"/>
        </div>
        <div class="row">
            <input type="text" placeholder="请再次输入新密码" id="reppwd" maxlength="50"/>
        </div>
        <div class="confirm">
            <span>确认修改</span>
        </div>
    </div>
</div>
</body>
<script>
    var manager_id=sessionStorage.getItem("manager_id")
    $('.confirm').click(function () {
        var psw = $('#pwd').val();
        var newpsw = $('#newpwd').val();
        var reppwd = $('#reppwd').val();
        if(newpsw==""){
            mui.toast('新密码不能为空');
            return;
        }else if(newpsw!=reppwd){
            mui.toast('新密码两次输入不相同');
            return;
        }
        var params = {
            manager_id: manager_id,
            old_password: psw,
            new_password: newpsw
        }
        var data = JSON.stringify(params)
        $.ajax({
            url: 'http://<%=reqHost%>:<%=reqPort%>/ZxApi/m4_01.ashx',
            type: "POST",
            dataType: 'json',
            data: data,
            error: function (request) {      // 设置表单提交出错
                mui.toast("系统错误，返回状态码为：" + request.status);
            },
            success: function (data) {
                if(data.ecode==1000){
                    mui.toast('修改成功');
                    setTimeout(function () {
                        history.go(-1);
                    },1000)
                }else if(data.ecode==3103){
                    mui.toast('旧密码错误');
                }else{
                    mui.toast('修改失败');
                }
            }
        });
    });
</script>
</html>