<!DOCTYPE html>
<html>
<%-include ../base/checkHead.ejs%>
<body>
<div class="container">
    <%-include ../base/header.ejs%>
    <div class="wrap">
        详情页
    </div>
</div>
</body>
<script>
</script>
<style>


</style>
</html>
